body{
  background-color: #f2f2f2;
  }
  
.header{
  display : flex;
  flex-direction: row;
  /* justify-content:space-around; */
  flex-wrap: wrap;
  align-items: center;
  padding-top : 3rem;
}
.header .header-left{
  margin : 50px 50px;
}

.header .header-right button{
  padding: 15px 30px;
    background-color: rgb(32, 143, 32);
    color : white;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}


.header .header-right button::before,
.header .header-right button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  background-color:  rgb(10, 10, 10);
  transition: width 0.3s ease-in-out;
}

.header .header-right button::before {
  left: 0;
}

.header .header-right button::after {
  right: 0;
}

.header .header-right button:hover::before,
.header .header-right button:hover::after {
  width: 50%;
}


